<div th:fragment="content">
    <h2 th:text="${pageTitle}">Gestión de Marcas</h2>
    <div style="margin-bottom: 20px;">
        <a th:href="@{/admin/marcas/create}" class="btn-activate" style="text-decoration: none;">+ Añadir Nueva Marca</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="marca : ${marcas}">
                <td th:text="${marca.id}">1</td>
                <td th:text="${marca.nombre}">Cannondale</td>
                <td class="action-buttons">
                    <a th:href="@{/admin/marcas/edit/{id}(id=${marca.id})}" class="btn-edit">Editar</a>
                    <a th:href="@{/admin/marcas/delete/{id}(id=${marca.id})}" class="btn-delete">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>